.Button{
    border: none;
    padding: 10px 40px;
    border-radius: 4px;
    transition-duration: 400ms;

    &.Button--primary, &.Button--submit{
        background: var(--primary);
        color: #fff;

        &:hover{
            background: var(--primaryDark);
        }
    }



}