body {
  margin: 0;
  font-family: "Lilita One", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --primary: #b71540;
  --primaryDark: #a10e35;
  --grey: #718093;
  --lighGrey: #dcdde1;
  --titleMain: 50px;
}